$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icons_outward_arr: unquote('"\\e900"');
$icons_xmark_solid: unquote('"\\e901"');
$icons_bars_solid: unquote('"\\e902"');
$icons_chevron_right_solid: unquote('"\\e903"');
$icons_facebook_f: unquote('"\\e904"');
$icons_instagram: unquote('"\\e905"');
$icons_linkedin_in: unquote('"\\e906"');
$icons_x_twitter: unquote('"\\e907"');
$icons_cart_shopping_solid: unquote('"\\e908"');
$icons_heart_solid: unquote('"\\e909"');
$icons_user_solid: unquote('"\\e90a"');

