.heroText {
    font-family: var(--Open_Sans), sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
}

.typeText {
    display: flex;

    .typeWriterText.light-theme {
        display: inline-block;
        background-image: var(--IndianFlag-light);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .typeWriterText.dark-theme {
        display: inline-block;
        background-image: var(--IndianFlag-dark);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);

    }
}

.highlighter{
    font-family: var(--Open_Sans), sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
    max-width: 80%;
    text-transform: capitalize;
}